<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Multotec Mill Lining Report</title>
  </head>
  <body>
    {{> header}}
    <p><a href = "/manual">Manaul Measurement</a></p>
  	<p><a href = "/laser">Laser Measurement</a></p>
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
