form(method="POST", action="/USER")
  input(type="hidden", name="_method", value="PUT")

  p Manual Measurement
  p R0
    input(type="number", name="R0")
  p R1
    input(type="number", name="R1")
  p R2
    input(type="number", name="R2")
  p
    input(type="submit")
